<!DOCTYPE html>
<html>
<head>
<title>School Map Navigation</title>

<style>
body{
  font-family: Arial;
}

#mapContainer{
  position: relative;
  width: 800px;
}

#canvas{
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* popup */
#popup{
  position: absolute;
  left: 820px;
  top: 50px;
  display: none;
}

#popup img{
  width: 300px;
  border: 2px solid black;
}
</style>

</head>

<body>

<h2>School Navigation Map</h2>

<div id="mapContainer">

  <!-- BLUEPRINT -->
    <img src="SchoolBlueprints/EMM 2ND FLOOR.png" usemap="#image-map">

  <!-- DRAW PATH -->
  <canvas id="canvas" width="800" height="500"></canvas>


</div>

<!-- CLICKABLE AREAS -->
<map name="image-map">

  <!-- ADMISSION OFFICE -->
  <area shape="rect"
coords="495,272,569,402"
href="javascript:void(0);"
onclick="goToRoom('admission')">

<area shape="rect"
coords="646,268,738,400"
href="javascript:void(0);"
onclick="goToRoom('alumni')">


</map>

<!-- POPUP IMAGE -->
<div id="popup">
  <img id="roomImage">
</div>

<script src="script.js"></script>

</body>
</html>